<ion-content>

<img src="../../../assets/Explore.png">

<ion-text color="primary" class="title">
    <h1>Seja Bem Vindo</h1> 
</ion-text>
    
<div class="vertical-center">
<ion-text color="primary" class="title" >
    <h4>Visite pontos turisticos e culturais, aprenda sobre sobre eles, divirta-se resolvendo desafios em realidade aumentada e encontrando respostas para os quizes.</h4>

    
</ion-text>
</div>
<div class="divbottom" >
    <ion-text color="primary" class="title">
        <p>Visite um dos locais marcados no mapa para desbloquear um desafio</p>
    </ion-text>
    <ion-button href='members/map/' expand="block" shape="round">
        Vamos lá!
    </ion-button>
</div>

</ion-content>
