<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Terra dos Presidentes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/members/puzzles/Terra dos Presidentes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
  <br>
  <br>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>ABRIL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="primary">
        <ion-text color="primary">
          <h1>19</h1>
        </ion-text>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-text color="primary">
  <h1 class="ano">Qual ano?</h1>
  </ion-text>
  <ion-input color="primary" autofocus type="number" placeholder="0000"></ion-input>
</ion-content>
