<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <br>
  <div class="circle">
    <img [src]="user.photoURL">
  </div>
  <ion-text color="primary">
    <h1>{{user.displayName}}</h1>
  </ion-text>

  <ion-grid center>
    <ion-row>
      <ion-col size="4">
        <ion-text color="primary">
          <h3>Desafios</h3>
          <h5>00</h5>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="primary">
          <h3>Pontos</h3>
          <h5>00</h5>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="primary">
          <h3>Troféus</h3>
          <h5>00</h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" [routerLink]="['/admin']">
    Admin
  </ion-button> 
  
</ion-content>