<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <br>
  <div class="circle">
    <img [src]="user.photoURL">
  </div>
  <ion-text color="primary">
    <h1>{{user.displayName}}</h1>
  </ion-text>

  <ion-grid center>
    <ion-row>
      <ion-col size="4">
        <ion-text color="primary">
          <h3>Desafios</h3>
          <h5>{{desafios}}</h5>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="primary">
          <h3>Pontos</h3>
          <h5>{{points}}</h5>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="primary">
          <h3>Troféus</h3>
          <h5>{{totalTrofeus}}</h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>
  <ion-text color="primary" class="ion-text-center">
        <p>Galeria de troféus</p>
    </ion-text>
  <ion-grid fixed>
      <ion-row>
          <ion-col size="4" *ngFor="let acv of achivments">
              <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle color="primary">{{acv.category}}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="{{acv.imgurl}}" >
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>


  <ion-button expand="block" fill="solid" shape="round" [routerLink]="['/members/cupons']">
      Meus Cupons
  </ion-button>
  <br>
  <ion-button expand="block" [routerLink]="['/admin']" shape="round">
    Admin
  </ion-button> 

</ion-content>