<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Manoel Soares Leães</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/members/puzzles/Terra dos Presidentes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="../../../assets/piloto/2.jpg" (click)="gotoDetails()">
  <img src="../../../assets/piloto/49.jpg" width="33%">
  <img src="../../../assets/piloto/25.jpg" width="33%">
  <img src="../../../assets/piloto/40.jpg" width="33%">
  <img src="../../../assets/piloto/6.jpg" >
</ion-content>
