<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Terra dos Presidentes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/members/puzzles"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item (click)="gotoGalery()">
      <ion-row>
        <ion-col size="10">
          <ion-text color="primary">
            <h6>Visite o monumento em homenagem a Manoel Soares Leães</h6>
          </ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="done" position="end" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  <ion-item>
    <ion-row>
      <ion-col size="10">
        <ion-text color="primary">
          <h6>Visite o Mausoléu Getútio Vargas para receber mais informações.</h6>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="done" position="end" name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-grid>
    <ion-row>
      <ion-col >
        <ion-text color="primary">
          <h6>Complete a data</h6>
        </ion-text>
      </ion-col>
      <ion-col class="ion-align-self-end">
          <ion-icon color="primary" name="radio-button-off"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-item>
  </ion-list>
</ion-content>
