<ion-toolbar>
    <ion-title>Formigas</ion-title>
</ion-toolbar>
<ion-content>
    <img src="../../../assets/formigas.jpg">
    <ion-text color="dark">
        <p>As formigas trabalham armazenando alimento durante o verão para que no inverno possam ficar protegidas dentros de seu formigueiro. Elas conseguem carregar um peso até 100 vezes maior do que o seu próprio peso.</p>
    </ion-text>

<div class="divbottom">
    <ion-button (click)="goToPuzzles()" expand="block" fill="solid" shape="round">
        Continuar
    </ion-button>
</div>
</ion-content>
