<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-location"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-item>
    <ion-label position="floating">Descricao</ion-label>
    <ion-input [(ngModel)]="description" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Icone</ion-label>    
    <ion-label *ngIf="selectedFile">{{selectedFile[0].name}}</ion-label>    
    <label for="file" id="label" position="floating"><ion-icon name="cloud-upload"></ion-icon>Carregar Imagem</label>
    <input id="file" name="file" type="file" accept="image/png,image/jpeg" (change)="detectFiles($event)">
  </ion-item>
  <br>
  <ion-button shape="round" (click)="save()">
    Salvar Categoria
  </ion-button>
</ion-content>