<ion-content>

	<ion-fab vertical="top" horizontal="start" slot="fixed">
		<ion-fab-button>
			<ion-back-button defaultHref='/members'></ion-back-button>
		</ion-fab-button>
	</ion-fab>

	<div class="scrolling-wrapper">
		<div class="card"><img src="{{img1 | async}}"/></div>
		<div class="card"><img src="{{img2 | async}}"/></div>
		<div class="card"><img src="{{img3 | async}}"/></div>
    </div>

    <br>
    <ion-text color="primary">
        <h1>{{description}}</h1>
    </ion-text>
    <ion-text color="primary">
        <p>{{information}}</p>
    </ion-text>
    <br>
    <hr>
    <ion-text color="primary" class="ion-text-center">
        <p>Desafios neste local</p>
    </ion-text>
    <ion-item *ngFor="let item of puzzles | keyvalue">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-text color="primary">
                        <h1>{{ item.value.puzzle }}</h1>
                        <p class="percent">{{calculatePercentage(item.value.up.nextStage,item.value.stages.length)}}%</p>
                        <ion-progress-bar value="{{calculatePercentageDecimal(item.value.up.nextStage,item.value.stages.length)}}"></ion-progress-bar>
                    </ion-text>
                </ion-col>
                <ion-col *ngIf="item.value.up" size="6">
                    <div *ngIf="!item.value.up.completed">
                        <div *ngFor="let stage of item.value.stages">
                            <div *ngIf="stage.order == item.value.up.nextStage" >
                                <ion-card position="end">
                                    <ion-card-header>
                                        <ion-card-subtitle>{{stage.type}}</ion-card-subtitle>
                                        <ion-card-title>{{stage.title}}</ion-card-title>
                                    </ion-card-header>
                                    <div *ngIf="stage.type == 'Quiz'">
                                        <ion-button expand="block" shape="round"
                                            href='members/{{item.value.puzzle}}/{{stage.type}}/{{stage.title}}'>
                                            Responder
                                        </ion-button>
                                    </div>
                                    <div *ngIf="stage.type == 'Visite'">
                                        <ion-button expand="block" shape="round"
                                            (click)="arrived(item.value.puzzle)">
                                            Estou Aqui
                                        </ion-button>
                                    </div>
                                </ion-card>
                            </div>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6" *ngIf="item.value.up.completed">
                    <ion-card position="end">
                        <ion-card-header>
                            <ion-card-subtitle>Completed</ion-card-subtitle>
                            <ion-card-title>{{item.value.up.points}} <br>Pontos</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <div *ngIf="!item.value.up">
                    <ion-card position="end">
                        <ion-icon slot="start" name="lock"></ion-icon>
                    </ion-card>
                </div>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-content>