.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch;


  
}

.card {
    display: inline-block;
    width: 90%;
    height: 100%;
  }



.percent{
    text-align: right;
}

ion-card-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bar{
    position: absolute; 
    bottom: 10%;
    width: 100%;
}