<ion-content>

    <ion-text color="dark" style="text-align: center;">
        <h1>Revolução de 1930</h1>
    </ion-text>
    <img src="../../../assets/revolucao-de-1930.jpg">
    <ion-text color="dark">

        <p>Em 1930 o Brasil passava por uma crise economica e problemas politicos. A revolução de 1930 foi um movimento articulado pelos estados de Minas Gerais, Paraíba e Rio Grande do Sul e impediu a posse do presidente eleito Júlio Prestes, sob alegação de fraude eleitoral. Tornando então Getulio Vargas como presidente do Brasil.</p>
    </ion-text>

<div class="divbottom">
    <ion-button (click)="goToPuzzles()" expand="block" fill="solid" shape="round">
        Continuar
    </ion-button>
</div>
</ion-content>
