<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center margin-top>
  <div *ngIf="etapa1">
    <ion-text color="primary">
      <h1>Seja bem vindo!</h1>
      <h1>Primeiramente precisamos saber qual é o seu nome?</h1>
    </ion-text>
    <form [formGroup]="nameForm">
      <ion-item>
        <ion-label color="primary" position="floating">Nome</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-button [disabled]="!nameForm.valid" (click)="finalizaEtapa1()" type="submit">
        Proxima etapa
      </ion-button>
    </form>
  </div>
  <div *ngIf="etapa2">
    <ion-text color="primary">
      <h1>Qual é o seu email?</h1>
    </ion-text>
    <form [formGroup]="emailForm">
      <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input autofocus formControlName="email"></ion-input>
        <ion-note *ngIf="!emailForm.get('email').valid" color="danger" slot="end">
          Email inválido
        </ion-note>
      </ion-item>
      <ion-button [disabled]="!emailForm.valid" (click)="finalizaEtapa2()" type="submit">
        Proxima etapa
      </ion-button>
    </form>
  </div>
  <div *ngIf="etapa3">
    <ion-text color="primary">
      <h1>Crie uma senha</h1>
      <h6>Uma bem segura, nada de 123456.</h6>
    </ion-text>
    <form [formGroup]="senhaForm">
      <ion-item>
        <ion-label color="primary" position="floating">Senha</ion-label>
        <ion-input type="password" autofocus formControlName="senha1"></ion-input>
        <ion-note *ngIf="!senhaForm.get('senha1').valid" color="danger" slot="end">
          Minímo 6 caracteres
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Confirme sua senha</ion-label>
        <ion-input type="password" formControlName="senha2"></ion-input>
        <ion-note *ngIf="!senhaForm.get('senha2').valid" color="danger" slot="end">
          Minímo 6 caracteres
        </ion-note>
      </ion-item>
      <ion-button [disabled]="!senhaForm.valid" (click)="verificaSenha()" type="submit">
        Proxima etapa
      </ion-button>
    </form>
  </div>
</ion-content>