<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/list-location"></ion-back-button>
		</ion-buttons>
		<ion-title>Editar Puzzle</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
	<ion-item>
		<ion-label position="floating">Titulo</ion-label>
		<ion-input [(ngModel)]="puzzle" type="text"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Descricao</ion-label>
		<ion-input [(ngModel)]="description" type="text"></ion-input>
	</ion-item>
    <ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select [(ngModel)]="category" multiple="false" placeholder="Selecione Categoria">
      <ion-select-option *ngFor="let category of categories" [value]="category.description">{{category.description}}
      </ion-select-option>
    </ion-select>
  </ion-item>
	<ion-row>
		<ion-col size="10">
			<ion-title>Stages</ion-title>
		</ion-col>
		<ion-col size="2">
			<ion-row class="ion-justify-content-end">
				<ion-button (click)="addStage()" shape="round">
					<ion-icon slot="icon-only" name="add"></ion-icon>
				</ion-button>
			</ion-row>
		</ion-col>
	</ion-row>
	<ion-row *ngFor="let item of stages; let i = index">
		<ion-col size="4">
            <ion-label>Type</ion-label>
            <ion-select [(ngModel)]="item.type" multiple="false" placeholder="Type" (ngModelChange)="onChangeType(i)">
                <ion-select-option *ngFor="let type of puzzleTypes" [value]="type">
                    {{type}}
                </ion-select-option>
            </ion-select>
		</ion-col>
		<ion-col size="4">
            <div *ngIf="item.type == 'Quiz'">
            <ion-label>Quiz</ion-label>
            <ion-select [(ngModel)]="item.title" multiple="false" placeholder="Select" >
                <ion-select-option *ngFor="let st of item.sts" [value]="st.title">
                    {{st.title}}
                </ion-select-option>
            </ion-select>
            </div>

            <div *ngIf="item.type == 'Visite'">
            <ion-label>Location</ion-label>
            <ion-select [(ngModel)]="item.title" multiple="false" placeholder="Select" >
                <ion-select-option *ngFor="let st of item.sts" [value]="st.description">
                    {{st.description}}
                </ion-select-option>
            </ion-select>
            </div>
            <div *ngIf="item.type == 'AR'">
                <ion-label>Instrução</ion-label>
                <ion-input  [(ngModel)]="item.title" type="text"></ion-input>
            </div>
		</ion-col>
		<ion-col size="4">
			<ion-item>
				<ion-label position="stacked">Order</ion-label>
				<ion-input [(ngModel)]="item.order" type="number"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-button shape="round" (click)="save()">
		Salvar Puzzle
	</ion-button>
</ion-content>