<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary" >Aulas Práticas</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/prot-list-stages"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/piloto/2.jpg">
  <ion-text class="ion-text-center" color="primary">
    <h3>Manoel Soares Leães fazendo aulas práticas</h3>
    <h6>As aulas práticas de vôo eram feitas no Aéroporto Santos Dumont, na cidade de Uruguaiana-RS. 
      que cedeu para que o curso fosse realizado, Maneco aprende a pilotar com seu instrutor o sargento 
      Eulasio Vieira Camargo, que o preparou de forma excepcional num mono motor de dois lugares, emprestado
      pelo Aéroclube do Rio Grande do Sul.</h6>
  </ion-text> 

</ion-content>
