<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-location"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Localização</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
  <ion-item>
    <ion-label position="floating">Descricao</ion-label>
    <ion-input [(ngModel)]="description" type="text"></ion-input>
  </ion-item>
    <ion-row>
      <ion-col size="4">
        <ion-text class="ion-text-start">
          <p>Localização</p>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-end" size="8">
        <ion-button size="small" (click)="getCurrentLocation()">
          Localização Atual
        </ion-button>
      </ion-col>
    </ion-row>
  <ion-item>
    <ion-label position="floating">Latitude</ion-label>
    <ion-input [(ngModel)]="latitude" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Longitude</ion-label>
    <ion-input [(ngModel)]="longitude" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select [(ngModel)]="category" multiple="false" placeholder="Selecione Categoria">
      <ion-select-option *ngFor="let category of categories" [value]="category.description">{{category.description}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button shape="round" (click)="save()">
    Salvar Localização
  </ion-button>
</ion-content>