<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members"></ion-back-button>
    </ion-buttons>
    <ion-title>Meus Cupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goToCupom(item.cupomId)" *ngFor="let item of cupons">
        <ion-label>{{ item.title }} </ion-label>
            <div *ngIf="!item.used">
                <ion-text class="ion-text-right" color="success"><p>Disponivel</p></ion-text>
            </div>
            <div *ngIf="item.used">
                <ion-text class="ion-text-right" color="danger"><p>Regatado</p></ion-text>
            </div>
    </ion-item>
  </ion-list>
</ion-content>
