<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Meus Desafios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item *ngFor="let item of itens">
      <ion-row >
        <ion-col size="6" (click)="itemDetails(item.puzzle.title)">
          <ion-text color="primary">
            <h1>{{ item.puzzle.title }}</h1>
            <br />
            <ion-label class="ion-text-end">20%</ion-label>
            <ion-progress-bar value="0.2"></ion-progress-bar>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-card position="end" (click)="protDate()">
            <ion-card-header>
              <ion-card-subtitle>Desafio</ion-card-subtitle>
              <ion-card-title>Complete a data</ion-card-title>
            </ion-card-header>
            <ion-button expand="block" shape="round" href="/prot-date-puzzle">
              Descobri
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row > 
        <ion-col size="6" >
          <ion-text color="primary">
            <h1>7 Povos das Missões</h1>
            <br />
            <ion-label class="ion-text-end">0%</ion-label>
            <ion-progress-bar value="0.0"></ion-progress-bar>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-card position="end" (click)="protRota()">
            <ion-card-header>
              <ion-card-subtitle>Va até</ion-card-subtitle>
              <ion-card-title>Cruz Missioneira</ion-card-title>
            </ion-card-header>
            <ion-button expand="block" shape="round">
              Ir agora
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item>
  <br>
  <br>
  <ion-text class="ion-text-center" color="primary">
    <h1>Protótipos</h1>
  </ion-text>
  <ion-button expand="block" routerLink="/sample-ar-js">Realidade Aumentada</ion-button>
</ion-content>
