<!-- <ion-header>
 <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
    <ion-button slot="end" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-button (click)="irIffar()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="map">
    <ion-fab vertical="bottom" horizontal="right" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
    
</ion-content>
