<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>Recuperar senha</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div>
    <img src="./../../../assets/Explore.png" />
  </div>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="primary">
          <h1>Esqueceu a senha?</h1>
          <h1>Não se preocupe, só precisamos que você nos informe seu email abaixo.</h1>
        </ion-text>
        <br>
        <form [formGroup]="form" (ngSubmit)="sendEmail()">
          <ion-item>
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input autofocus required formControlName="email" type="text"></ion-input>
            <ion-note *ngIf="form.get('email').dirty && form.get('email').hasError('email')" color="danger"
              slot="end">
              Email inválido
            </ion-note>
          </ion-item>
          <ion-button block color="primary" type="submit" [disabled]="form.invalid">
            Enviar email
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>